body {
  font-family: 'Fjalla One', sans-serif;
  height: 100%;
  width: 100%;
}

form {
  margin-left: 30%;
  font-weight: bold;
  height: 420px;
  width: 450px;
  background-color: #C0C0C0;
  border-radius: 20px;
}

#email {
  width: 374px;
  font-size: 18px;
  height: 44px;
  color: #a0a0a0;
  border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid gray;
}

#pwd {
  width: 374px;
  height: 44px;
  font-size: 18px;
  color: #a0a0a0;
  border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid gray;
}

#forgot {
  
  color: #a0a0a0;
  font-size: 14px;
  display: inline;
  margin-right: 35px;
}

.checkbox {
  display: inline;
}

#signin {
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  padding: 7px;
  font-weight: bold;
  border: none;
  background-color: #12abdb;
  border-radius: 3px;
  width: 374px;
  height: 35px;
  border-radius: 25px;
}

div>span {
  font-size: 0.75rem;
  color: firebrick;
}