<app-header></app-header>
<body>
<div>
    <div class="jumbotron text-center">
        <h2 class="display-3" style="width: 1000px;">Thanku for the service with CarWash</h2>
       
        <hr>
        <h5>Please tell us reason to cancel this booking.</h5>
       <textarea name="feedback" id="feedback">Write here</textarea>
       <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Submit</a>
      </p>
        <p style="float: inline-start;">
          Having trouble? <a href="">Contact us</a>
        </p>
        
      </div>
</div>
</body>
<app-footer></app-footer>