
<body>
    <!-- <form style="margin-left:30%; font-weight: bold; height: 380px; width: 450px; background-color: whitesmoke;
    border-radius: 20px; " [formGroup]="loginForm" >
   <div style="margin-left: 8%; padding-top: 5%;">
      <h2 >Login as a <strong style="color: #66B2FF;">Customer</strong></h2>
      <p >Please fill in this form to login an account.</p>
   
         
          <div class="form-group">
            <input type="email" formControlName="emailId" minlength="4" name="email" id="email" autocomplete="off" placeholder="Email" required>
            <span *ngIf="isValid('emailId')">Username cannot be blank</span>
        </div>
         
          <br>
   
          
              <input type="password" formControlName="password" name="password" id="pwd" autocomplete="off" placeholder="Password" required>
              <span *ngIf="isValid('password')">Password cannot be blank</span>
            </div>
          <br>
          
          <p style="font-weight: normal; padding-right: 100px;"><a href="#">Click here</a> to login as a service provider</p>
   
          <a>
              <button type="submit" id="signin" (click)="login()" class="btn btn-default" >login</button>
          </a>
   
   </div> -->
     



   <!-- <div class="formcontainer">
    <div class="formbody">
        <form style="width:100%;" [formGroup]="loginForm">
            <div class="header">Welcome</div>
            <div>
                <mat-form-field style="width:100%;">
                    <input type="text" formControlName="emailId" matInput placeholder="EmailId">
                </mat-form-field>
                <span *ngIf="isValid('email')">Username cannot be blank</span>
              </div>
            <div>
                <mat-form-field style="width:100%;">
                    <input type="password" formControlName="password" matInput placeholder="Password">
                </mat-form-field>
                <span *ngIf="isValid('password')">Password cannot be blank</span>
            </div>
            <div style="margin-top:40px;">
                <button class="form-btn" (click)="login()">Sign In</button>
            </div>
            
        </form>
        <div style="margin-top:40px;">
            <button class="form-btn" >Sign out</button>
        </div>
    </div>

    <div>
    </div>
</div> -->
</body>