body {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#name {
    width: 450px;
    height: 55px;
    border-width: 0.5px;
    font-size: 16px;
    background-color: lightgray;
    border: 1px solid gray;
}

#submit {
    background-color: #4682B4;
    border-radius: 10%;
    border-style: none;
    height: 50px;
    width: 120px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

#reset {
    background-color: red;
    border-radius: 10%;
    border-style: none;
    height: 50px;
    width: 120px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.required {
    color: red;
}

.field_name {
    font-weight: bold;
    color: #4682B4;
}

.field_name_time {
    font-weight: bold;
    color: #4682B4;
}

#cartype {
    width: 450px;
    height: 55px;
    border-width: 0.5px;
    color: black;
    font-size: 16px;
    background-color: lightgray;
    border: 1px solid gray;
}