<app-header></app-header>
<!-- <hr style="border:3px solid #f1f1f1">

<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>150</div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>63</div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>15</div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>6</div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>20</div>
  </div>
</div> -->

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You for choosing CarWash</h1>
  <p class="lead">
    <strong>Please check your email</strong> for further instructions. We will
    get back to u shortly.
  </p>
  <hr />
  <p>Having trouble? <a href="">Contact us</a></p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button"
      >Continue to homepage</a
    >
  </p>
</div>

<app-footer></app-footer>
