<app-header></app-header>
<body style="background-image: url('assets/hexBG.jpg');">
    <form [formGroup]="loginForm">
   <div style="margin-left: 8%; padding-top: 5%;">
      <h4 >Login as a <strong style="color: #12abdb;">Service Provider</strong></h4>
      <p >Please fill in this form to login an account.</p>
   
         
      <div class="form-group">
        <input type="email" formControlName="emailId" name="email" id="email" autocomplete="off" placeholder="Email Id" required><br>
        <span *ngIf="isValid('emailId')">Email Id is required</span>
    </div>
     
      <br>

      <div class="form-group">
          <input type="password" formControlName="password" name="password" id="pwd" autocomplete="off" placeholder="Password" required><br>
          <span *ngIf="isValid('password')">Password cannot be blank</span>
        </div>
      <br>
      
      <p style="font-weight: normal; padding-right: 100px;"><a href="cust-login">Click here</a> to login as a customer</p>

      <a>
          <button type="submit" id="signin" (click)="login()" class="btn btn-default" [disabled]="!loginForm.valid">login</button>
      </a>

</div>
  </form>

</body>

<app-footer></app-footer>