<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>

<app-header></app-header>

<div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/carwash-1.jpg"
          alt="Angular Carousel 1"
          style="height: 400px"
        />
      </div>
      <div class="carousel-caption">
        <h3>HASSLE FREE CAR WASH</h3>
        <hr style="background-color: white; width: 250px" />
        <p>WHILE YOU SIT BACK AND RELAX OR BUSY AT WORK!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/carwash-3.jpg"
          alt="Angular Carousel 2"
          style="height: 400px"
        />
      </div>
      <div class="carousel-caption">
        <h3>GIVE YOUR CAR SHOWROOM SHINE</h3>
        <hr style="background-color: white; width: 250px" />
        <p>AT AFFORDABLE MONTHLY SUBSCRIPTION.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div>
  <h1 style="text-align: center">
    – Best Car Washing Services at Your Doorstep
  </h1>
  <br />
  <p
    style="
      width: 80%;
      text-align: justify !important;
      display: block;
      padding-left: 15%;
    "
  >
    Everyone wants to look their best when they step out of their house. When
    you take the time to get ready and look sharp, why not give your car the
    same treatment as well? In case you cannot find the time to take your car
    out to get it cleaned, give us a call, and our professional cleaning crew
    will be at your doorstep in no time. While you are busy getting ready or
    while you are at work, our team will meticulously clean your car to leave it
    sleek and shining. Choose any of our affordable monthly plans and enjoy
    hassle-free car wash at your parking. Try GoGreen’s car wash at doorstep
    service and give your car the five-star treatment today!
  </p>

  <p
    style="
      width: 80%;
      text-align: justify !important;
      display: block;
      padding-left: 15%;
    "
  >
    <strong>STEAM WASHING</strong>
    is the process of using steam for external and internal cleaning of
    vehicles. Steam has been an important component in the cleaning segment for
    decades. Steam can sterilize and clean your vehicle properly, which makes
    your vehicle look stunning and healthy. It has the unique ability to clean
    and brighten your vehicle simultaneously. It also has the ability to kill
    bacteria, germs, viruses and other microorganisms.
  </p>
</div>
<br />
<div>
  <h1 style="text-align: center">Why Choose Us?</h1>
  <div
    style="float: none; margin-left: auto; margin-right: auto; margin-left: 20%"
  >
    <div style="display: inline-block">
      <i class="material-icons border-item-menu">account_circle</i>
      <div>
        <strong style="font-size: 22px">Professional staff</strong
        ><br /><br />Well-trained professional cleaning staff<br />
        with years of experience.
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div style="display: inline-block">
      <i class="material-icons border-item-menu">stars</i>
      <div>
        <strong style="font-size: 22px">Quality Management</strong
        ><br /><br />100% Quality Assurance and round <br />the clock customer
        service.
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div style="display: inline-block">
      <i class="material-icons border-item-menu">fingerprint</i>
      <div>
        <strong style="font-size: 22px">Full Secure Service</strong
        ><br /><br />Book a slot at your convenience and <br />we will provide
        full secure service.
      </div>
    </div>
  </div>
  <br />
  <br />
  <div>
    <img
      src="assets/carwash-4.jpg"
      style="width: 100%; height: 480px; position: relative"
    />
    <p class="text-btn">Your CAR deserves a better look</p>
    <a href="car-booking"><button class="btn">BOOK NOW</button></a>
  </div>
  <br />

  <div>
    <h1 style="text-align: center">How We Work</h1>
    <br />
    <div class="why_choose_us">
      <div style="display: inline-block">
        <i class="material-icons why_choose_icon">subscriptions</i>
        <div>
          <strong>SUBSCRIBE NOW</strong> <br /><br />
          <div style="width: 220px">
            All customers are requested to fill up the contact form with valid
            details with payment.
          </div>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <div style="display: inline-block">
        <i class="material-icons why_choose_icon">book_online</i>
        <div>
          <strong>CONFIRM APPOINTMENT</strong> <br /><br />
          <div style="width: 240px">
            Our representative will follow up for the appointment confirmation
            at your preferred location.
          </div>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <div style="display: inline-block">
        <i class="material-icons why_choose_icon">supervised_user_circle</i>
        <div>
          <strong>PROFESSIONAL WASHING</strong> <br /><br />
          <div style="width: 220px">
            Team will arrive at your location as per agreed schedule and
            complete the car wash.
          </div>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <div style="display: inline-block">
        <i class="material-icons why_choose_icon">rate_review</i>
        <div>
          <strong>SHARE YOUR REVIEW</strong> <br /><br />
          <div style="width: 230px">
            After the washing is done, we would love to hear your feedback to
            improvise our services.
          </div>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
  <br />
  <br />
  <div>
    <h1 style="text-align: center">Monthly Subscription</h1>
    <h3 style="text-align: center">Packages Available</h3>
    <div style="padding-left: 18%" class="hover_image">
      <a href="car-booking"><img src="assets/subscription-1.jpg" /></a
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="car-booking"><img src="assets/subscription-1.jpg" /></a
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="car-booking"><img src="assets/subscription-1.jpg" /></a>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />

  <app-footer></app-footer>
</div>
